html,
body {
    padding: 0;
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    color: #131310;
    font-size: 20px;
    background: #ebe4de;
}


nav{
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 3px dotted hsl(0deg 0% 0% / 0.2);
}

ul{
    list-style-type: none;
    align-items:center;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 5%;
}

ul a{
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #131310;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover{
    color:rgb(122, 120, 120);
    transition: all 0.5s ease;
}

a:active{
    color: #403f47;
}


.underline {
    text-decoration: none; 
    position: relative; 
}   
  
.underline:after {
    position: absolute;
    height: 4px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 90%;
    color: #000;
    background-color:  #e0cbc4;
    left: 0;
    bottom: -6px;
}

#logo{
    display: flex;
    align-items: baseline;
    gap: 0.4rem;
    margin-right: auto;
}

#cname{
    color: #131310;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

#extra{
    color: #131310;
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
}


footer {
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    font-size: 0.6rem;
    padding: 0.6rem;
    background-color: #9b9a94;
    color: #131310;
  }