html,
body {
    padding: 0;
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    color: #131310;
    font-size: 20px;
    background: #ebe4de;
}

nav{
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
}

ul{
    list-style-type: none;
    align-items:center;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

ul a{
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #131310;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover{
    color:#9b9a94;
    transition: all 0.5s ease;
}

a:active{
    color: #403f47;
}

#logo{
    display: flex;
    align-items: baseline;
    gap: 0.4rem;
    margin-right: auto;
}

#cname{
    color: #131310;
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

#extra{
    color: #131310;
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
}

.underline {
    text-decoration: none; 
    position: relative; 
  }   
 
 .underline:after {
     position: absolute;
     height: 4px;
     margin: 0 auto;
     content: '';
     left: 0;
     right: 0;
     width: 90%;
     color: #000;
     background-color:  #e0cbc4;
     left: 0;
     bottom: -6px;
 }

table{
  border-style: solid;
  border-color: #9B9A94;
}

#contentbox1{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    background-color: rgb(2, 88, 2);
    padding: 3rem;
    flex-grow: 1;
    min-height: 1000px;
    flex-wrap: wrap;
    gap:3rem;
    margin-bottom: 10;
}
#contentbox2{
    flex-grow: 1;
    display: flex;
    padding: 2rem;
    background-color: #ebe4de;
    max-width: 800px;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 0.8rem;
    border-radius: 5px;
    gap:2rem;
}

#contentbox3{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #9B9A94;
    padding: 1rem;
    padding-top:0rem;
    padding-bottom: 1.7rem;
    gap:1rem;
}

.fill {
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px 10px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 1rem;
  }
  
  .fill::after {
    content: "";
    background-color: #e0cbc4;
    width: 100%;
    z-index: 0;
    mix-blend-mode: multiply;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .fill:hover::after {
    top: 0px;
    left: 0px;
  }

footer {
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    font-size: 0.6rem;
    padding: 0.6rem;
    background-color: #9b9a94;
    color: #131310;
  }

  select {
    margin-left: 0.5rem;
    font-family: 'Montserrat';
    background-color: #ffffff;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
  }

  select:invalid{
    color: #8e8e8e;
  }

  option[disabled] {
    display: none;
  }
  option {
    color: black;
  }

  .round-button {

    width: 1.7rem;
    height: 1.7rem;
    border: none;
    border-color: inherit;
    border-radius: 1.7rem;
    background-image: url(/docs/assests/p.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: inherit;
}